@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide{
    display: none;
}

.transparent{
    opacity: 0.5;
}

.win{
    opacity: 0.40;
    -webkit-filter: drop-shadow(1px 1px 0 #03ff03)
                  drop-shadow(-1px -1px 0 #03ff03);
    filter: drop-shadow(1px 1px 0 #03ff03) 
          drop-shadow(-1px -1px 0 #03ff03);
}



body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}

h2{
    text-align: center;
    margin-top: 5px;
    text-shadow: 1px 1px rgba(109, 109, 109, 0.535);
}

header{
    margin-top: 15px;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul li{
    cursor: pointer;
    text-align: center;
    width: 110px;
}

main, #first-main{
    margin-top: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first-main #name-section{
    text-align: center;
    width: fit-content;
}

#first-main #name-section #input-section{
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#first-main #name-section #input-section input:first-child{
    width: 8rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.8rem;
}

#first-main #name-section #input-section input:last-child{
    width: 5rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.8rem;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#first-main #name-section #input-section input:last-child:hover{
    background: #ffffff3f;
}

#first-main #como-section{
    margin-top: 4rem;
    max-width: min(60%, 600px);
}

main{
    border: 1px solid #ccc;
    margin: 10px;
    height: 300px;
}

main #start-container{
    
    margin-top: 2rem;
}

main #start-container input{
    width: 5rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

main #start-container input:hover{
    background: #ffffff3f;
}

main #game-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 100%;
    overflow: hidden;
}

main #game-container .cup-container .cup{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

main #game-container .cup-container .ball{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;

    z-index: -1;
}

main #game-container .cup-container .cup:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 800px){
    main #game-container{
        width: min(60%, 600px);
    }
    
    main #game-container .cup-container .cup{
        width: 140px;
        height: 200px;
    }

    main #game-container .cup-container .ball{
        width: 50px;
        height: 50px;
        transform: translateY(+130px);
    }
}

@media screen and (max-width: 800px){
    main #game-container .cup-container .cup{
        width: 100px;
        height: 150px;
    }

    main #game-container .cup-container .ball{
        width: 35px;
        height: 35px;
        transform: translateY(+100px);
    }
}

@media screen and (max-width: 460px){
    main #game-container .cup-container .cup{
        width: 80px;
        height: 120px;
    }

    main #game-container .cup-container .ball{
        width: 25px;
        height: 25px;
        transform: translateY(+85px);
    }
}



footer{
    cursor: pointer;
    position: absolute;
    text-align: center;
    bottom: 0;
    
    padding: 13px 0;
    width: 100%;
}

footer p{
    font-size: 0.8rem;
    color: rgb(123, 123, 123);
}