@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide{
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}

h2{
    text-align: center;
    margin-top: 5px;
    text-shadow: 1px 1px rgba(109, 109, 109, 0.535);
}

header{
    margin-top: 15px;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul li{
    cursor: pointer;
    text-align: center;
    width: 110px;
}

main, #first-main{
    margin-top: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first-main #name-section{
    text-align: center;
    width: fit-content;
}

#first-main #name-section #input-section{
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#first-main #name-section #input-section input:first-child{
    width: 8rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.8rem;
}

#first-main #name-section #input-section input:last-child{
    width: 5rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.8rem;

    transition: all 0.3s ease-in-out;
}

#first-main #name-section #input-section input:last-child:hover{
    cursor: pointer;
    background: #ffffff3f;
}

#first-main #como-section{
    margin-top: 4rem;
    max-width: min(60%, 600px);
}

main{
    border: 1px solid #ccc;
    margin: 10px;
    height: 300px;
}

main #start-container{
    
    margin-top: 2rem;
}

main #start-container input{
    width: 100%;
    height: 2rem;
    padding: 2px;
    

}

footer{
    cursor: pointer;
    position: absolute;
    text-align: center;
    bottom: 0;
    
    padding: 13px 0;
    width: 100%;
}

footer p{
    font-size: 0.8rem;
    color: rgb(123, 123, 123);
}